.catalogue {
    display: grid; 
    grid-template-columns: repeat(5, 1fr);
    gap: 1rem; 
    justify-content: center;
    margin: 0rem auto; 
    max-width: 1200px; 
}

.catalogue-card {
    width: 100%; 
    height: auto; 
    transition: transform 0.3s; 
}

.catalogue-card:hover {
    transform: scale(1.1); 
}

.catalogue-sorts {
    display: grid; 
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem; 
    justify-content: center;
    margin: 0rem auto;
    max-width: 1200px; 
}

.catalogue-h1 {
    margin-bottom: 2rem;
}

.search-container {
    text-align: center;
    margin: 1.75rem 0;
}

#search-bar {
    width: 25%;
    padding: 0.5rem;
    font-size: 1rem;
    border: none;
    border-bottom: 2px solid #f9f9f9;
    border-radius: 8px;
    background-color: transparent;
    color: #f9f9f9;
    outline: none;
    text-align: center;
}

#search-bar::placeholder {
    text-align: center;
    color: #acacac;
}

#search-results {
    text-align: center;
    font-size: 1rem;
    color: #fff;
    margin-top: 0.5rem;
}