.catalogue {
    display: grid; 
    grid-template-columns: repeat(5, 1fr);
    gap: 1rem; 
    justify-content: center;
    margin: 0rem auto; 
    max-width: 1200px; 
}

.catalogue-card {
    width: 100%; 
    height: auto; 
    transition: transform 0.3s; 
}

.catalogue-card:hover {
    transform: scale(1.1); 
}

.catalogue-sorts {
    display: grid; 
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem; 
    justify-content: center;
    margin: 0rem auto;
    max-width: 1200px; 
}

.catalogue-h1 {
    margin-bottom: 2rem;
}

.search-container {
    text-align: center;
    margin: 1.75rem 0;
    margin-left: 2rem;
}

#search-bar {
    width: 15%;
    padding: 0.5rem;
    text-align: center;
    font-size: 1rem;
    font-weight: bold;
    border: none;
    border-bottom: 2px solid #f9f9f9;
    border-radius: 8px;
    background-color: transparent;
    color: #f9f9f9;
    outline: none;
}
#search-bar::placeholder {
    text-align: center;
    color: #7a7a7a;
    font-weight: normal;
}

#search-results {
    text-align: center;
    font-size: 1.25rem;
    font-weight: bold;
    color: #fff;
    margin-top: 0.5rem;
}

.filter-container {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin: 1.5rem 0;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-btn {
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border: none;
    border-bottom: 2px solid #fff;
    border-radius: 8px;
    background-color: transparent;
    color: #fff;
    cursor: pointer;
    width: 180px;
    box-sizing: border-box;
    text-align: center;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.55);
    width: 100%;
    left: 0;
    box-sizing: border-box;
    z-index: 1;
    border: 2px solid #fff;
    border-top: none;
    border-radius: 8px;
    top: 100%;
}

.dropdown-content a {
    color: #fff;
    padding: 0.75rem 1rem;
    text-decoration: none;
    display: block;
    cursor: pointer;
}

.dropdown-content a:hover {
    font-weight: bold;
}

.dropdown-content.active {
    display: block;
}

.attack-filter, .life-filter {
    display: inline-flex;
    align-items: center;
}

#attack-input, #life-input {
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border: none;
    border-bottom: 2px solid #fff;
    border-radius: 8px;
    background-color: transparent;
    color: #fff;
    outline: none;
    width: 180px;
    text-align: center;
    box-sizing: border-box;
    font-weight: 400;
}

#attack-input::placeholder, #life-input::placeholder {
    text-align: center;
    color: #fff;
    font-weight: normal;
}

#attack-input.has-value, #life-input.has-value {
    font-weight: bold;
}