.catalogue {
    display: grid; 
    grid-template-columns: repeat(5, 1fr);
    gap: 1rem; 
    justify-content: center; 
    margin: 2rem auto; 
    max-width: 1200px; 
}

.catalogue-card {
    width: 100%; 
    height: auto; 
    transition: transform 0.3s; 
}

.catalogue-card:hover {
    transform: scale(1.1); 
}