.logo-index-placement{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo-index{
    height: 650px;
    width: auto;
    max-width: 90%;
    max-height: 90vh;
}

.logo-index:hover{
    transform: scale(1.25);
    transition: transform 0.3s;
    transform-origin: center;
    will-change: transform;
}

.logo-index-link{
    display: inline-block;
}

.logo-index.playing{
    transform: scale(1.25);
}