.button-rules{
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    width: auto;
    height: auto;
    border-radius: 8px;
    transition: background-color 0.3s;
    cursor: pointer;
    flex: 0 0 auto;
    padding : 1rem;
}

button.button-rules {
    background-color: transparent;
    border: none;
}

.button-rules a {
    text-decoration: none;
    padding: 0.6rem;
    background-color: rgba(0, 0, 0, 0.45);
    display: flex;
    align-items: center; /* Centre verticalement le contenu du lien */
}

.button-rules {
    color: #fff;
    font-family: Arial;
    font-size: 1.2rem;
    text-align: center;
    margin: 0;
}

.button-rules img {
    width: 50px; 
    height: auto;
}

.button-rules span {
    font-size: 1.2rem;
    color: #fff;
    text-align: center; 
}

.quote {
    display: block; 
    text-align: center;
    margin: 0 auto; 
}

.familier-section, .sort-section {
    display: flex;
    align-items: center; 
    gap: 2rem;
    margin: 2rem 0; 
    padding: 1rem;
}

.familier-image {
    width: 300px;
    height: auto;
    margin-left: 15rem;
}

.button-rules img:hover, .familier-image:hover, .arme-image:hover, .sort-image:hover {
    transform: scale(1.1);
    transition: transform 0.3s; 
}

.familier-text, .sort-text {
    max-width: 600px; 
    font-family: Arial, sans-serif;
    color: #fff;
}

.familier-text p, .sort-text p {
    font-size: 1.2rem;
    line-height: 1.6;
}

.familier-type {
    display: flex; 
    justify-content: center; 
    align-items: center; 
    gap: 2rem;
    margin: 0 0; 
}

.type-item {
    display: flex;
    flex-direction: column; 
    align-items: center; 
}

.type-icon {
    width: 56px; 
    height: auto; 
    border-radius: 3px; 
}

.type-text {
    font-size: 0.1rem; 
    color: #fff; 
    margin-top: 0rem;
}

.vie {
    color: #FF0000; 
}

.arme-section {
    display: flex; 
    justify-content: flex-end; 
    align-items: center; 
    gap: 0; 
    margin: 2rem 0; 
    padding: 1rem;
}

.arme-text {
    max-width: 600px; 
    font-family: Arial, sans-serif;
    color: #fff;
    text-align: right; 
    margin-right: 2rem; 
}

.arme-image {
    width: 300px; 
    height: auto; 
    margin-right: 15rem; 
}

.cout {
    color: #FFCC00; 
}

.sort-image {
    width: auto;
    height: 300px;
    margin-left: 8.3rem;
}