* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    --nav-opacity: 0.45;
}

*:focus {
    outline: none;
}

@font-face {
    font-family: 'Lifecraft';
    src: url(../Polices/LifeCraft_Font.ttf);
}
selector {
    font-family: 'Lifecraft';
}

html, body {
    height: 100%;
}

.first-subtitle {
    width: 50%;
    max-width: 710px;
    margin: 0 auto;
}

.second-subtitle {
    width: 69%;
    max-width: 904px;
    margin: 0 auto;
}

body {
    display: flex;
    flex-direction: column;
    background-image: url('../Images/Fond.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
}

.logo {
    margin-top: 0.5rem;
}

.logo img {
    display: block;
    margin: 0 auto;
    height: 250px;
}

.menu{
    width: 100%;
    background-color: rgba(0, 0, 0, var(--nav-opacity));
    padding: 0.5rem 0;
}

.menu ul{
    list-style: none;
    margin: auto;
    padding: 0;
    display: flex;
    justify-content: space-evenly;
    gap: 1.5rem;
    align-items: center;
    width: 80%;
}

.menu a{
    color: #fff;
    text-decoration: none;
    padding: 0.25rem 0.5rem;
    display: inline-block;
    font-weight: 500; 
    font-family: 'Lifecraft';
    font-size: 1.75rem;
    width: 215px;
}

.menu a:hover{
    font-weight: 700;
}

.menu li:nth-child(1) a {
    text-align: right;
}

.menu li:nth-child(2) a, .menu li:nth-child(3) a {
    text-align: center;
}

.menu li:nth-child(4) a {
  text-align: left;
}

footer {
    margin-top: auto;
}

.footer {
    width: 100%;
    background-color: rgba(0, 0, 0, var(--nav-opacity));
    padding: 0.8rem 0;
    text-align: center;
    color: #fff;
}

.footer a, .footer a:visited {
    color: #fff;
    text-decoration: none;
}

.footer a:hover, .footer a:focus {
    color: #fff;
    font-weight: 700;
}

h1 {
    text-align: center;
    color: #fff;
    font-family: Arial;
    font-size: 2.5rem;
    margin: 2rem 0 1rem 0;
}

.subtitle {
    text-align: center;
    color: #fff;
    font-family: Arial;
    font-size: 1rem;
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
    padding-top: 0.25rem; 
    padding-bottom: 0.25rem;
    text-align: justify;
    text-align: center;
}

.subtitle-bar {
    display: block;
    width: 25%;
    height: 2px;
    background-color: #fff;
    margin: 1rem auto;
    padding: 0;
    border: 1px solid white;
}

.buttons-container {
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin: 0;
}

.buttons-container >*{
    width:50%;
}

.buttons-container >div.left{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 0.5rem;
}

.buttons-container >div.right{
    display: flex;
    justify-content: flex-start;
}

.button-printable {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 148px;
    height: 148px;
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.1);
    transition: background-color 0.3s;
    cursor: pointer;
    flex: 0 0 auto;
}

.button-printable:hover {
    background-color: rgba(255, 255, 255, 0.25);
}

.button-printable img {
    width: 128px;
    height: 128px;
}

.button-text {
    color: #fff;
    font-family: Arial;
    font-size: 1rem;
    margin: 0;
    flex: 0 0 auto;   
    text-align: center;
    max-width: 320px;
}

a:hover .button-icon {
    transform: scale(1.30);
}

.button-steam {
    display: flex;
    align-items: center;
    gap: 0.8rem;
    padding: 0.8rem 1.5rem;
    background-color: transparent;
    color: #fff;
    border: 1px;
    border-radius: 16px;
    cursor: pointer;
    font-family: Arial;
    font-size: 1rem;
    font-weight: 500;
    text-decoration: none;
    width: 600px ;
}

.button-steam >a {
    background-color: #34373E;
    border: 8px solid #3F4249;
    border-radius: 16px;
}

.button-steam >a:hover {
    border: 8px solid #34373E;
}

.button-steam span {
    text-wrap: wrap;
}

.button-icon {
    width: 128px;
    height: 96px;
}