* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    cursor: url("/Images/Curseurs/Cursor.png"), auto;
}

*:focus {
    outline: none;
}

@font-face {
    font-family: 'Lifecraft';
    src: url(../Fichiers/LifeCraft_Font.ttf);
}

selector {
    font-family: 'Lifecraft';
}

html, body {
    height: 100%;
    margin: 0;
}

button, button *, a, a *, input, input *, .catalogue-card, .catalogue-card * {
    cursor: url("/Images/Curseurs/Pointer.png"), auto !important;
}

.first-subtitle {
    width: 50%;
    max-width: 710px;
    margin: 0 auto;
}

.second-subtitle {
    width: 69%;
    max-width: 904px;
    margin: 0 auto;
}

body {
    display: flex;
    flex-direction: column;
    background-image: url('../Images/Fond.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
}

.logo {
    margin-top: 0.5rem;
}

.logo img {
    display: block;
    margin: 0 auto;
    height: 250px;
}

.menu{
    width: 100%;
    background-color: rgba(0, 0, 0, 0.55);
    padding: 0.5rem 0;
}

.menu ul{
    list-style: none;
    margin: auto;
    padding: 0;
    display: flex;
    justify-content: space-evenly;
    gap: 1.5rem;
    align-items: center;
    width: 80%;
}

.menu a{
    color: #fff;
    text-decoration: none;
    padding: 0.25rem 0.5rem;
    display: inline-block;
    font-weight: 500; 
    font-family: 'Lifecraft';
    font-size: 1.75rem;
    width: 215px;
}

.menu a:hover{
    font-weight: 700;
}

.menu li:nth-child(1) a {
    text-align: right;
}

.menu li:nth-child(2) a, .menu li:nth-child(3) a {
    text-align: center;
}

.menu li:nth-child(4) a {
  text-align: left;
}

.subtitle-bar {
    display: block;
    width: 25%;
    height: 2px;
    background-color: #fff;
    margin: 1rem auto;
    padding: 0;
    border: 1px solid white;
}

footer {
    margin-top: auto;
}

.footer {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.55);
    padding: 0.8rem 0;
    text-align: center;
    color: #fff;
}

.footer a, .footer a:visited {
    color: #fff;
    text-decoration: none;
}

.footer a:hover, .footer a:focus {
    color: #fff;
    font-weight: 700;
}

h1 {
    text-align: center;
    color: #fff;
    font-family: Arial;
    font-size: 2.5rem;
    margin: 1rem 0;
}

h2 {
    font-size: 1.8rem;
    margin-bottom: 1rem;
}
